html {
	box-sizing: border-box;
	font-size: 10px;
}

  *, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
	margin: unset;
}

.calc {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	&__result {
		width: 100%;
	}
	&__button {
		width: 100%;
		line-height: 3rem;
		cursor: pointer;
	}
}

.box-wrap {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

.column {
	&_2 {
		grid-column-start: 1;
		grid-column-end: span 2;
	}
	&_3 {
		grid-column-start: 1;
		grid-column-end: span 3;
	}
}


